@model List<HRManagementEntities.Departments>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Index", "Department", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            @Html.ActionLink("New Department", "New", null, new { @class = "btn btn-success" })
        </div>
        <br />
        <div class="row">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Department Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="h6">
                                @item.Name
                            </td>
                            <td>
                                @Html.ActionLink("Update", "Update", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
}

