@model HRManagementEntities.Departments
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Save", "Department", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <b>@ViewBag.Message</b>
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(m => m.Name, new { @class = "h6" })
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Name)
        </div> 
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>

}

